absl-py==1.4.0
addict==2.4.0
aiofiles==22.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
aiosqlite==0.18.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==5.0.1
attrs==22.2.0
av==12.3.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
brotlipy==0.7.0
cachetools==5.3.0
causal-conv1d==1.0.0
cchardet==2.1.7
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1625807838443/work
chardet @ file:///tmp/build/80754af9/chardet_1607706746162/work
charset-normalizer==3.1.0
click==8.1.7
cmake==3.26.0
colorama==0.4.6
comm==0.1.2
compressai==1.2.6
conda==4.10.3
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262148928/work
contourpy==1.0.7
crcmod==1.7
cryptography @ file:///tmp/build/80754af9/cryptography_1616769286105/work
-e git+https://github.com/hkchengrex/Cutie.git@2a85b3ebf29a98958b8ecf670997b05e0118ff8e#egg=cutie
cycler==0.11.0
Cython==3.0.11
darkdetect==0.7.1
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
easydict==1.13
einops==0.8.0
executing==1.2.0
fastapi==0.114.2
fastjsonschema==2.16.3
ffmpy==0.4.0
filelock==3.14.0
fonttools==4.39.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.9.0
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.16.2
google-auth-oauthlib==0.4.6
gradio==4.44.0
gradio_client==1.3.0
grpcio==1.51.3
h11==0.14.0
h5py==3.11.0
hickle==5.0.3
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.24.7
hydra-core==1.3.2
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imageio==2.35.1
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==0.10.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.4.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-language-pack-zh-CN==3.6.post0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.20.0
kiwisolver==1.4.4
lazy_loader==0.4
lit==15.0.7
mamba-ssm==1.0.1
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mmcls==0.20.1
mmcv-full==1.7.2
model-index==0.1.11
mpmath==1.3.0
multidict==6.1.0
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.7.3
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.0
ninja==1.11.1.3
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.24.2
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.2
ordered-set==4.1.0
orjson==3.10.7
oss2==2.17.0
packaging==24.2
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
progressbar==2.5
prometheus-client==0.16.0
prompt-toolkit==3.0.38
propcache==0.2.0
protobuf==4.22.1
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.13.6
pycocotools==2.0.7
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome==3.21.0
pydantic==2.9.1
pydantic_core==2.23.3
pydub==0.25.1
Pygments==2.14.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.9
pyqtdarktheme==2.1.0
pyrsistent==0.19.3
PySide6==6.6.3.1
PySide6_Addons==6.6.3.1
PySide6_Essentials==6.6.3.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.9
pytorch-msssim==1.0.0
pytz==2023.4
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.1
regex==2024.11.6
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rsa==4.9
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016699510/work
ruff==0.6.5
safetensors==0.4.5
scikit-image==0.21.0
scipy==1.10.1
semantic-version==2.10.0
Send2Trash==1.8.0
shellingham==1.5.4
shiboken6==6.6.3.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4
stack-data==0.6.2
starlette==0.38.5
supervisor==4.2.5
sympy==1.11.1
tabulate==0.9.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
terminado==0.17.1
thinplate @ git+https://github.com/cheind/py-thin-plate-spline@f6995795397118b7d0ac01aecd3f39ffbfad9dee
tifffile==2023.7.10
timm==1.0.12
tinycss2==1.2.1
tokenizers==0.20.3
tomli==2.0.1
tomlkit==0.12.0
torch @ http://download.pytorch.org/whl/cu118/torch-2.0.0%2Bcu118-cp38-cp38-linux_x86_64.whl
torch-dct==0.1.6
torch-geometric==2.6.1
torchvision @ http://download.pytorch.org/whl/cu118/torchvision-0.15.1%2Bcu118-cp38-cp38-linux_x86_64.whl
tornado==6.2
tqdm==4.65.2
traitlets==5.9.0
transformers==4.46.3
triton==2.0.0
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.1
uri-template==1.2.0
urllib3==1.26.20
uvicorn==0.30.6
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==12.0
Werkzeug==2.2.3
widgetsnbextension==4.0.5
y-py==0.5.9
yapf==0.43.0
yarl==1.15.2
ypy-websocket==0.8.2
zipp==3.15.0
